.category {

  &-selector {
    height: 100%;
    width: 7%;
    background-color: $color-white-2;
    display: grid;
    grid-template-rows: 10vh repeat(4, 1fr) 10vh;
    grid-template-columns: 100%;
    transition: all .2s;
  }

  &__item {
    text-transform: lowercase;
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    transform: translateX(-10rem) rotate(90deg);
    width: 135%;
    height: 126%;
    text-align: center;
    letter-spacing: 2px;

    transition: all .2s;
    cursor: pointer;

    &--1 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &--2 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    } 

    &--3 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
    }

    &--4 {
      grid-row: 5 /6;
      grid-column: 1 / 2;
    }

    &:hover {
      color: $color-grey-dark-3;
    }

    &--active {
      color: $color-black;
      font-weight: 400;

      &::before {
        content: '[';
        font-weight: bold;
        margin: 0 5px;
      }

      &::after {
        content: ']';
        font-weight: bold;
        margin: 0 5px;
      }
    }
  }  
}