@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400&display=swap);
/* ------------------------------------- */
/*	3. Base/Resets
/* ------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400&display=swap);
html {
  font-size: 62.5%;
  /* 1rem = 10px */
  font: "Alegreya Sans", sans-serif;
  color: #ababab;
  padding: 0;
  margin: 0;
  margin-inline: 0 !important;
  margin-block: 0 !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ababab;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.8rem;
  letter-spacing: -0.015em;
  text-align: left;
  margin: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

section {
  min-height: 80rem;
}

figure {
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
  margin: 0;
}

*:focus {
  outline: none;
}

button,
input {
  border: none;
}

#site-content {
  overflow: hidden;
}

/*--------------------------------*/
/* Mixins */
/*--------------------------------*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}

.site-logo--photo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  z-index: 99;
  fill: white;
}

.site-logo--menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  z-index: 99;
  fill: #c9c9c9;
}

.menu-container--open {
  height: 100vh;
  width: 15%;
  background-color: #fafafa;
  color: #a0a0a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: lowercase;
  font-weight: 300;
  opacity: 1;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  font-size: 2.5rem;
  letter-spacing: 1px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  animation: fade ease 1s;
  -webkit-animation: fade ease 1s;
  -moz-animation: fade ease 1s;
  -o-animation: fade ease 1s;
  -ms-animation: fade ease 1s;
}

.menu-container--closed {
  opacity: 0;
}

.links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 60%;
}

.category__link {
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.category__link:hover {
  color: #494949;
}

.category__link:active {
  color: black;
}

.menu-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 40%;
  position: relative;
  height: 2px;
  width: 40px;
  background-color: #C9C9C9;
  margin-left: 1px;
}

.page-links__container {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon {
  margin: .5rem;
}

.copyright {
  width: 50%;
  text-align: center;
  font-size: 10px;
  margin: 2rem;
}

.photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background-color: #fafafa;
  z-index: 2;
}

.photo-container--100 {
  width: 100%;
  height: 100vh;
}

.photo-container--85 {
  width: 85%;
  height: 100vh;
}

.photo-container--78 {
  width: 78%;
  height: 100vh;
}

.photo-single {
  height: 100vh;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-slider {
  height: 100%;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.land__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  background-color: #fafafa;
  gap: 2rem;
  height: 80%;
  width: 100%;
  -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.land__row {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.land__row--1 {
  -ms-grid-columns: 3fr 3fr 4fr;
      grid-template-columns: 3fr 3fr 4fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.land__row--2 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.land__row--3 {
  -ms-grid-columns: 2.5fr 5fr 2.5fr;
      grid-template-columns: 2.5fr 5fr 2.5fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.land__row:active {
  grid-row: 1 / span all;
  grid-column: 1 / span all;
}

.portrait__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem;
  width: 90%;
  height: 80%;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center !important;
      justify-self: center !important;
  background-color: #fafafa;
}

.portrait__col {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.portrait__col--1 {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.portrait__col--2 {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 7fr 3fr;
      grid-template-rows: 7fr 3fr;
}

.portrait__col--3 {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.photo--small {
  -webkit-box-shadow: 2px 2px 13px 0px #545454;
          box-shadow: 2px 2px 13px 0px #545454;
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.photo--small:active {
  grid-row: 1 / span all;
  grid-column: 1 / span all;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.photo--large {
  -o-object-fit: cover;
     object-fit: cover;
  width: 78vw !important;
  height: 80vh;
}

.photo--large--50 {
  -o-object-position: 0 50%;
     object-position: 0 50%;
}

.photo--large--33 {
  -o-object-position: 0 33%;
     object-position: 0 33%;
}

.selector__slider {
  -webkit-box-shadow: 2px 2px 13px 0px #545454;
          box-shadow: 2px 2px 13px 0px #545454;
  height: 80%;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selector__slider.slick-slide,
.selector__slider slick-active,
.selector__slider slick-current div {
  width: 78vw !important;
}

.selector__slider.slick-prev,
.selector__slider .slick-next,
.selector__slider .slick-arrow {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  bottom: 7%;
  opacity: .3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.selector__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 78vw !important;
  height: 80vh;
}

.selector__photo--50 {
  -o-object-position: 0 50%;
     object-position: 0 50%;
}

.category-selector {
  height: 100%;
  width: 7%;
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh (1fr)[4] 10vh;
      grid-template-rows: 10vh repeat(4, 1fr) 10vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.category__item {
  text-transform: lowercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.category__item--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.category__item--2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.category__item--3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.category__item--4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 /6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.category__item:hover {
  color: #494949;
}

.category__item--active {
  color: black;
  font-weight: 400;
}

.category__item--active::before {
  content: '[';
  font-weight: bold;
  margin: 0 5px;
}

.category__item--active::after {
  content: ']';
  font-weight: bold;
  margin: 0 5px;
}
/*# sourceMappingURL=main.css.map */