@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400&display=swap);

@import "base-styles/_1-variables.scss";
@import "base-styles/_2-resets.scss";
@import "base-styles/_3-mixins.scss";
@import "base-styles/_4-animations.scss";

@import "component-styles/0-misc/_App.styles.scss";
@import "component-styles/0-misc/_logo.styles.scss";
@import "component-styles/1-menu/_menu-container.styles.scss";
@import "component-styles/2-photo/_photo-container.styles.scss";
@import "component-styles/2-photo/_land-grid.styles.scss";
@import "component-styles/2-photo/_portrait-grid.styles.scss";
@import "component-styles/2-photo/_photo-small.styles.scss";
@import "component-styles/2-photo/_photo-large.styles.scss";
@import "component-styles/2-photo/_selector-slider.styles.scss";

@import "component-styles/3-category/_category-selector.styles.scss";
