.menu-container--open {
  height: 100vh;
  width: 15%;
  background-color: $color-white-2;
  color: $color-grey-light-3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 300;
  opacity: 1;
  transition: all .5s ease-in;
  font-size: 2.5rem;
  letter-spacing: 1px;
  transition: all .5s ease-out;

  animation: fade ease 1s;
  -webkit-animation: fade ease 1s;
  -moz-animation: fade ease 1s;
  -o-animation: fade ease 1s;
  -ms-animation: fade ease 1s;
}

.menu-container--closed {
  opacity: 0;
}

.links__container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 60%;
}

.category__link {
  cursor: pointer;

  transition: all .2s;
}

.category__link:hover {
  color: $color-grey-dark-3;
}

.category__link:active {
  color: $color-black;
}

.menu-divider {
  display: flex;
  justify-content: start;
  width: 40%;
  position: relative;
  height: 2px;
  width: 40px;
  background-color: $color-grey-light-1;
  margin-left: 1px;
}

.page-links__container {
  height: 25%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.icons__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon {
  margin: .5rem;
  opacity: .5;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: all .2s;
  }
}

.copyright {
  width: 50%;
  text-align: center;
  font-size: 10px;
  margin: 2rem;
}