.site-logo--photo {
  align-self: center;
  padding: 1rem;
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  z-index: 99;
  fill: white;
}

.site-logo--menu {
  align-self: center;
  padding: 1rem;
  z-index: 99;
  fill: #c9c9c9;
}