.full-photo {

  &__container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.bottom-nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__arrows-container {
    width: 5%;
    display: flex;
    justify-content: space-between;
  }
}