.photo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all .5s ease-out;
  background-color: $color-white-2;
  z-index: 2;
  
  &--100 {
    width: 100%;
    height: 100vh;
  }

  &--85 {
    width: 85%;
    height: 100vh;
  }

  &--78 {
    width: 78%;
    height: 100vh;
  }
}

.photo-single {
  height: 100vh;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.photo-slider {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

// .fade-in {
//   animation: fade ease 5s;
//   -webkit-animation: fade ease 5s;
//   -moz-animation: fade ease 5s;
//   -o-animation: fade ease 5s;
//   -ms-animation: fade ease 5s;
// }



