.selector {
  
  &__slider {
    @include normalShadow;

    height: 80%;
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;

    &.slick-slide,
    slick-active,
    slick-current div {
      width: 78vw !important;
    }

    // Use arrows in this component
    &.slick-prev,
    .slick-next,
    .slick-arrow {
      display: flex !important;
      align-items: center;
      justify-content: center;
      z-index: 9;
      bottom: 7%;
      opacity: .3;
      transition: all .2s;
    }
  }

  &__photo {
    object-fit: cover;
    // object-position: 0 95%;
    width: 78vw !important;
    height: 80vh;

    &--50 {
      object-position: 0 50%;
    }
  }
}



