// Primary Colors

$color-primary: hsla(96, 98%, 51%, 0.412);
$color-primary-dark: hsla(125, 82%, 39%, 0.412);

$color-secondary: hsla(236, 72%, 50%, 0.727);
$color-secondary-light: hsla(212, 78%, 56%, 0.778);


$color-tertiary: hsla(34, 80%, 50%, 0.993);
$color-tertiary-light: hsla(59, 85%, 54%, 0.815);

// Opaque colors

$color-primary-op: hsl(96, 98%, 51%);
$color-primary-dark-op: hsl(125, 82%, 39%);

$color-secondary-op: hsl(236, 72%, 50%);
$color-secondary-light-op: hsl(212, 78%, 56%);

$color-tertiary-op: hsl(34, 80%, 50%);
$color-tertiary-light-op: hsl(59, 85%, 54%);

// Greyscale Colors
$color-grey: #ababab;

$color-grey-light: #ffffffa6;
$color-grey-light-1: #C9C9C9;
$color-grey-light-2: #fafafa;
$color-grey-light-3: #a0a0a0;

$color-grey-dark: #7e7e7e;
$color-grey-dark-2: #787878a6;
$color-grey-dark-3: #454545;

$color-white-1: #ffffff;
$color-white-2: #fdfdfd;
$color-black: hsl(0, 0%, 0%);
$color-shadow: hsla(0, 0%, 0%, 0.3);
$color-transparent: hsla(0, 0%, 0%, 0);

// Test colors

$color-test: rgb(111, 255, 86);
$color-test-border: rgb(200, 47, 167);
$color-test-2: rgb(216, 57, 28);
$color-test-border-2: rgb(18, 0, 182);
$color-test-3: rgb(33, 255, 240);
$color-test-border-3: rgb(255, 85, 33);


// Font Sizes

$default-font-size: 1.6rem;



